<div class="flex justify-between items-center pt-3" mat-dialog-title>
  <h3 class="m-0 flex-grow text-xl font-bold">Control de asistencia</h3>
  <button mat-mini-fab mat-dialog-close color="basic">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <h4 class="text-core-primary dark:text-core-primary-400">¿Cómo funciona?</h4>
  <p>
    Cada materia tendrá un <strong>link de asistencia</strong> para que cada
    alumno <strong>ingrese</strong> a dicho link e <strong>ingrese</strong> sus
    datos personales en un formulario que tendrá que enviar.
  </p>
  <p>
    Una vez que el alumno haya completado el formulario, el docente podrá ver la
    lista de alumnos que se encuentran en clase.
  </p>
  <h4 class="text-core-primary dark:text-core-primary-400">
    ¿Cómo activo la asistencia?
  </h4>
  <p>
    Para activar la asistencia, el docente deberá ingresar a la materia que
    desea tomar asistencia, en la sección de <strong>opciones</strong>, y hacer
    click en el botón <strong>Activar asistencia</strong>.
  </p>
  <p>
    Una vez que el docente haya activado la asistencia, el alumno podrá ingresar
    al link de asistencia y completar el formulario.
  </p>
  <p>
    El link de asistencia se encuentra en la sección de
    <strong>asistencia del día</strong> de cada materia.
  </p>
</div>
