<div class="flex justify-between items-center pt-3" mat-dialog-title>
  <h3 class="m-0 flex-grow text-xl font-bold">Alumnos</h3>
  <button mat-mini-fab mat-dialog-close color="basic">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <h4 class="text-core-primary dark:text-core-primary-400">
    Listado de alumnos
  </h4>
  <p>
    Cada materia tendrá asignada su propio listado de alumnos y aquí te
    explicaremos como cargar tu listado de alumnos.
  </p>
  <p>Para subir tu listado de alumnos debes de seguir los siguientes pasos:</p>
  <ul class="ml-5">
    <li>Primero creá una materia.</li>
    <li>Una vez creada, haz click en <strong>ver curso</strong>.</li>
    <li>Dirigete a la pestaña de <strong>opciones</strong>.</li>
    <li>
      En la sección de <strong>listado</strong>, haz click en el botón
      <strong>subir csv</strong>.
    </li>
  </ul>
</div>
