<div class="grid-nogutter">
  <div class="col-12">
    <shared-menubar></shared-menubar>
  </div>
  <div class="col-12">
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="p-4 md:px-40 py-20">
  <h5 class="text-core-primary text-2xl font-bold">
    Herramientas Informáticas 2024
  </h5>
  <p class="mb-5 text-core-secondary font-medium">
    Trabajo Final - Integración y despliegue continuo
  </p>

  <h5 class="mb-3 font-bold">Desarrollado por:</h5>
  <ul>
    <li class="mb-5">
      <a
        class="px-6 py-1 rounded-xl bg-slate-100 dark:bg-slate-800"
        href="https://github.com/DarioRv"
        target="_blank"
        >Vidal Darío</a
      >
    </li>
    <li class="mb-5">
      <a
        class="px-6 py-1 rounded-xl bg-slate-100 dark:bg-slate-800"
        href="https://github.com/21Enzo17"
        target="_blank"
        >Meneghini Enzo</a
      >
    </li>
    <li class="mb-5">
      <a
        class="px-6 py-1 rounded-xl bg-slate-100 dark:bg-slate-800"
        href="https://github.com/ezequielmamani7"
        target="_blank"
      >
        Mamaní Ezequiel
      </a>
    </li>
  </ul>
</footer>
