<form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="mb-5 w-full">
    <mat-label>Contraseña actual</mat-label>
    <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" formControlName="currentPassword">
    <button type="button" mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrentPassword">
      <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="currentPassword?.hasError('required')">Es necesaria la contraseña</mat-error>
    <mat-error *ngIf="currentPassword?.hasError('incorrectPassword')">La contraseña es incorrecta</mat-error>
  </mat-form-field>
  <mat-form-field class="mb-5 w-full">
    <mat-label>Nueva contraseña</mat-label>
    <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword">
    <button type="button" mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
      <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="newPassword?.hasError('required')">Es necesaria la contraseña</mat-error>
    <mat-error *ngIf="newPassword?.hasError('containsLetters')">La contraseña debe incluir letras</mat-error>
    <mat-error *ngIf="newPassword?.hasError('containsCapitalLetter')">La contraseña debe incluir una letra mayúscula</mat-error>
    <mat-error *ngIf="newPassword?.hasError('containsSpecialCharacters')">La contraseña debe incluir caracteres especiales: @#!$&</mat-error>
    <mat-error *ngIf="newPassword?.hasError('minlength')">La contraseña debe 6 caracteres o más</mat-error>
  </mat-form-field>
  <mat-form-field class="mb-5 w-full">
    <mat-label>Confirmar nueva contraseña</mat-label>
    <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
    <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
      <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="confirmPassword.hasError('required')">La confirmación es necesaria</mat-error>
    <mat-error *ngIf="confirmPassword.hasError('notEqual')">La contraseña no coincide</mat-error>
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary" class="w-full" [disabled]="isSubmitting">
    <mat-icon>key</mat-icon>
    {{ isSubmitting ? 'Actualizando' : 'Actualizar contraseña' }}
    <mat-spinner class="size-3 inline-block" *ngIf="isSubmitting"></mat-spinner>
  </button>
</form>
