<h2 class="text-core-primary font-bold dark:text-core-primary-400" mat-dialog-title>Introduce tu contraseña para continuar</h2>
<mat-dialog-content>
  <p>¿Estás seguro de eliminar tu cuenta? <strong class="text-core-secondary dark:text-core-secondary-400">No podrás recuperarla</strong>.</p>
  <p class="mt-5">Introduce tu contraseña para confirmar la eliminación de tu cuenta.</p>
  <form>
    <mat-form-field class="w-full mb-5">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="password">
      <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password.hasError('required')">La contraseña es requerida</mat-error>
      <mat-error *ngIf="password.hasError('incorrect')">La contraseña es incorrecta</mat-error>
    </mat-form-field>
    <div class="flex gap-3" *ngIf="!loading">
      <button type="button" mat-button color="warn" (click)="onConfirm()">Estoy seguro de eliminar mi cuenta</button>
      <button type="button" mat-flat-button color="primary" cdkFocusInitial (click)="onNoClick()">Conservar mi cuenta</button>
    </div>
    <mat-spinner class="block size-6 mx-auto" *ngIf="loading"></mat-spinner>
  </form>
</mat-dialog-content>
