<section class="grid place-items-center mt-20 px-2" [ngSwitch]="status">
  <div class="bg-slate-200 w-fit p-4 rounded dark:bg-slate-700" *ngSwitchCase="'pending'">
    <h1 class="text-center text-core-primary text-2xl font-bold md:text-5xl dark:text-core-primary-400">Ingresa tu nueva contraseña</h1>
    <p class="text-center">Asegúrate de guardarla en un lugar seguro.</p>
    <reset-password-form (statusEvent)="setStatus($event)"></reset-password-form>
  </div>

  <div class="bg-slate-200 w-fit p-4 rounded dark:bg-slate-700" *ngSwitchCase="'error'">
    <h1 class="text-center text-slate-700 text-2xl font-bold md:text-5xl dark:text-slate-300">Parece que no hay internet</h1>
    <p class="text-center">No podemos conectarnos a internet. Por favor, revisa tu conexión y vuelve a intentarlo.</p>
  </div>

  <div class="bg-slate-200 w-fit p-4 rounded dark:bg-slate-700" *ngSwitchCase="'success'">
    <h1 class="text-center text-core-primary text-2xl font-bold md:text-5xl dark:text-core-primary-400">¡Listo!</h1>
    <p class="text-center">
      Tu contraseña ha sido cambiada con éxito.
      <a class="text-core-secondary" routerLink="/auth/sign-in">Iniciar sesión</a>
    </p>
  </div>

  <div class="bg-slate-200 w-fit p-4 rounded dark:bg-slate-700" *ngSwitchCase="'fail'">
    <h1 class="text-center text-red-500 text-2xl font-bold md:text-5xl dark:text-red-400">¡Ups!</h1>
    <p class="text-center">Parece que el link ha expirado. Por favor, solicita un nuevo cambio de contraseña.</p>
  </div>
</section>
