<section class="grid place-items-center mt-20" [ngSwitch]="status">
  <div class="w-fit">

    <div class="bg-slate-200 rounded p-4 mb-5 dark:bg-slate-700" *ngSwitchCase="'request email' || 'email error'">
      <h1 class="text-2xl text-core-primary font-bold text-center md:text-5xl dark:text-core-primary-400">Cambiar contraseña</h1>
      <p class="text-center">Para cambiar tu contraseña te enviaremos un correo con la información necesaria.</p>
      <form class="">
        <mat-form-field class="mb-3 w-full">
          <mat-label>Correo</mat-label>
          <input type="text" matInput [formControl]="email">
          <mat-error *ngIf="email.hasError('required')">El correo es necesario</mat-error>
          <mat-error *ngIf="email.hasError('email')">Formato incorrecto</mat-error>
          <mat-error *ngIf="email.hasError('emailDoesNotExists')">El email no existe</mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" class="block mx-auto" type="button" (click)="onSubmit()">
          <mat-icon>mail</mat-icon>
          Solicitar cambio de contraseña
        </button>
      </form>
    </div>

    <div class="bg-slate-200 rounded p-4 mb-5 dark:bg-slate-700" *ngSwitchCase="'email sent'">
      <h2 class="text-core-primary font-bold text-2xl text-center md:text-3xl dark:text-core-primary-400">Revisa tu email</h2>
      <p class="text-center">Hemos enviado a tu correo a tu email, seguí las instrucciones del mismo.</p>

    </div>

    <div class="bg-slate-200 rounded p-4 mb-5 dark:bg-slate-700" *ngSwitchCase="'error'">
      <h2 class="text-red-500 font-bold text-2xl text-center md:text-3xl dark:text-red-400">Ha ocurrido un error</h2>
      <p class="text-center">Por el momento no podes restablecer tu contraseña, por favor intenta más tarde. <strong>Te pedimos disculpas por este inconveniente</strong>.</p>
    </div>
  </div>


</section>
