<section class="home container-limited">
  <main>
      <div class="flex flex-col items-center justify-center p-10 lg:p-24 bg-core-primary dark:bg-transparent dark:text-slate-400  text-white rounded-3xl">
        <h1 class="text-4xl md:text-6xl lg:text-8xl font-semibold dark:text-core-primary-400">ASIST.IO</h1>
        <p class="text-lg text-center text-balance xl:mx-96">Es la aplicación perfecta para profesores que quieren llevar un control de la asistencia de sus alumnos de una manera sencilla, rapida y eficiente.</p>
        <a class="text-lg font-bold border-2 border-white p-3 rounded hover:bg-white hover:text-core-primary transition mt-1 dark:bg-slate-700 dark:text-white dark:border-0 dark:hover:bg-slate-600 dark:hover:text-white" routerLink="/auth/sign-up">Empezar a usar</a>
      </div>
  </main>
  <article class="how-works min-h-screen">
    <p class="text-core-secondary font-semibold text-center md:text-left">Asist.io llegó para facilitar tu clase a la hora de tomar asistencia.</p>
    <h2 class="text-3xl md:text-5xl text-core-primary font-semibold mt-3 dark:text-core-primary-400 text-center md:text-left">¿Cómo funciona?</h2>
    <p class="text-center xl:text-left xl:max-w-3xl dark:text-slate-400">
      Creá tu curso, cargá la lista de estudiantes y generá el link de asistencia. Tus alumnos podrán registrar su asistencia introduciendo su libreta universitaria
      en el formulario de asistencia. Al finalizar la clase podrás pedir el informe y descargarlo, el informe contiene la libreta universitaria, nombres y apellidos del alumno,
      hora en la que se registró la asistencia y la fecha del informe.
    </p>
    <div class="fast-guide grid grid-cols-1 md:grid-cols-2 mx-auto mb-20 w-fit lg:grid-cols-4 gap-3">
      <step-card class="max-w-xs mt-10 lg:max-w-full" [step]="step" *ngFor="let step of stepCardItems"></step-card>
    </div>
    <a class="bg-core-primary-100 hover:bg-core-primary-200 text-core-primary font-bold rounded-xl p-3 flex items-center w-fit mx-auto mb-8 lg:mx-0 lg:mb-0 dark:bg-slate-700 dark:text-white dark:hover:bg-slate-600" href="/app/manual">
      Aprender más
      <mat-icon>chevron_right</mat-icon>
    </a>
  </article>
  <article class="benefits min-h-screen">
    <p class="font-semibold text-core-primary text-center md:text-left">Lo mejor en un solo lugar.</p>
    <h2 class="text-3xl md:text-5xl text-core-secondary font-semibold mt-3 dark:text-core-secondary-400 text-center md:text-left">Beneficios de usar ASIST.IO</h2>
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
      <li class="bg-slate-100 flex items-center gap-2 dark:bg-slate-800" *ngFor="let benefit of benefitsItems">
        <mat-icon class="text-green-500">{{ benefit.icon }}</mat-icon>
        <span class="dark:text-white">{{ benefit.label }}</span>
      </li>
    </ul>
    <div class="w-fit mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 lg:w-full gap-3 mt-8 pt-6">
      <div class=" max-w-sm bg-slate-100 flex flex-col items-center rounded-3xl p-2 py-4 dark:bg-slate-800" *ngFor="let featBenefit of featureBenefits">
        <mat-icon class="w-auto h-max text-5xl md:text-8xl text-core-primary">{{ featBenefit.icon }}</mat-icon>
        <p class="text-xl md:text-2xl dark:text-white">{{ featBenefit.label }}</p>
      </div>
    </div>
  </article>
  <article class="get-started p-3 md:p-8 min-h-screen">
    <div class="content">
      <p class=" font-semibold text-core-secondary text-center md:text-left">Es simple.</p>
      <h2 class="text-3xl md:text-5xl font-semibold text-core-primary mt-3 dark:text-core-primary-400 text-center md:text-left">¿Cómo empiezo?</h2>
      <p>De manera rápida podes empezar siguiendo estos pasos:</p>
      <div class="steper mt-8">
        <div class="step flex flex-row gap-5">
          <div class="icon flex flex-col items-center">
            <div class="circle p-3 border-2 border-core-secondary size-8 rounded-full"></div>
            <div class="line h-full w-[2px] bg-core-secondary"></div>
          </div>
          <div class="description">
            <h3 class="text-base md:text-xl font-semibold dark:text-white">Crea tu cuenta</h3>
            <p><a class="underline text-black dark:text-slate-300" routerLink="/auth/sign-up">Registrate</a> o <a class="underline text-black dark:text-slate-300" routerLink="/auth/sign-in">inicia sesión</a> para abrir el dashboard.</p>
          </div>
        </div>
        <div class="step flex flex-row gap-5">
          <div class="icon flex flex-col items-center">
            <div class="circle p-3 border-2 border-core-secondary size-8 rounded-full"></div>
            <div class="line h-full w-[2px] bg-core-secondary"></div>
          </div>
          <div class="description">
            <h3 class="text-base md:text-xl font-semibold dark:text-white">Leé las guías</h3>
            <p>Podrás encontrar diferentes guías para que te familiarices con el sistema.</p>
          </div>
        </div>
        <div class="step flex flex-row gap-5">
          <div class="icon flex flex-col items-center">
            <div class="circle p-3 border-2 border-core-secondary size-8 rounded-full"></div>
          </div>
          <div class="description">
            <h3 class="text-base md:text-xl font-semibold dark:text-white">Creá tu primer curso</h3>
            <p>Y empezá a simplificar tus clases.</p>
          </div>
        </div>
      </div>
      <a class="bg-core-secondary-100 hover:bg-core-secondary-200 text-core-secondary font-bold rounded-xl p-3 flex items-center w-fit mx-auto lg:mx-0 dark:bg-slate-700 dark:text-white dark:hover:bg-slate-600" href="/auth/sign-up">
        Empezar ahora
        <mat-icon>chevron_right</mat-icon>
      </a>
    </div>
  </article>
</section>
