<div class="card-skeleton p-3 bg-white rounded shadow dark:bg-slate-700">
  <p-skeleton height="2rem" styleClass="mb-2 dark:bg-slate-600"></p-skeleton>
  <p-skeleton width="10rem" styleClass="mb-2 dark:bg-slate-600"></p-skeleton>
  <p-skeleton width="14rem" height="4rem" styleClass="mb-2 dark:bg-slate-600"></p-skeleton>
  <p-skeleton width="7rem" height="2rem" styleClass="mb-2 dark:bg-slate-600" borderRadius="16px"></p-skeleton>
  <div class="flex gap-3">
    <p-skeleton width="8rem" height="2.5rem" styleClass="mb-2 dark:bg-slate-600"></p-skeleton>
    <p-skeleton width="6rem" height="2.5rem" styleClass="mb-2 dark:bg-slate-600"></p-skeleton>
  </div>
</div>
