<section class="guias">
  <article
    class="guia bg-slate-200 p-3 rounded-xl flex flex-col items-center dark:bg-slate-800"
    (click)="openGetStarted()"
  >
    <mat-icon class="text-8xl text-slate-600 w-auto h-max dark:text-slate-500"
      >home</mat-icon
    >
    <h2 class="text-core-primary dark:text-white">Introducción</h2>
    <p class="dark:text-slate-200">
      En esta guía encontrarás una rápida introducción al software.
    </p>
  </article>
  <article
    class="guia bg-slate-200 p-3 rounded-xl flex flex-col items-center dark:bg-slate-800"
    (click)="openStudents()"
  >
    <mat-icon class="text-8xl text-slate-600 w-auto h-max dark:text-slate-500"
      >groups</mat-icon
    >
    <h2 class="text-core-primary dark:text-white">Listado de alumnos</h2>
    <p class="dark:text-slate-200">
      En esta guía encontrarás una rápida introducción al software.
    </p>
  </article>
  <article
    class="guia bg-slate-200 p-3 rounded-xl flex flex-col items-center dark:bg-slate-800"
    (click)="openAttendance()"
  >
    <mat-icon class="text-8xl text-slate-600 w-auto h-max dark:text-slate-500"
      >how_to_reg</mat-icon
    >
    <h2 class="text-core-primary dark:text-white">Asistencia</h2>
    <p class="dark:text-slate-200">
      En esta guía encontrarás una rápida introducción al software.
    </p>
  </article>
</section>
