<section class="w-fit mx-auto mt-16">
  <div class="bg-slate-200 rounded-xl py-5 px-4 md:px-10 my-6 dark:bg-slate-700">
    <h3 class="text-core-primary text-center text-3xl mb-3 md:text-4xl md:mb-7 dark:text-core-primary-400">Introduce el código de asistencia</h3>
    <p class="text-slate-600 m-0 text-center dark:text-slate-200">Deberás solicitarlo al profesor</p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="mt-5 w-full">
        <mat-label>Código de asistencia</mat-label>
        <input matInput type="text" placeholder="Ej: 03951A5j" formControlName="code">
        <mat-error *ngIf="code.touched && code.hasError('required')">El campo es obligatorio.</mat-error>
      </mat-form-field>
      <div class="w-fit mx-auto">
        <button class="bg-core-primary text-white rounded px-3 py-2 transition-all hover:bg-core-primary-600 dark:bg-core-primary-400 dark:hover:bg-core-primary-200 dark:text-slate-900" type="submit" [disabled]="isLoading">
          {{ !isLoading ? 'Verificar código' : 'Verificando código...' }}
        </button>
      </div>
    </form>
  </div>

  <div class="p-2 bg-core-secondary-100 text-core-secondary rounded w-fit mx-auto mb-5" *ngIf="courseNotFound">
    <p class="font-bold text-center m-0">Lo sentimos, el código que has proporcionado es inválido.</p>
  </div>

  <a class="underline text-slate-400 block" routerLink="/attendance">Regresar al inicio</a>
</section>
