<div class="flex justify-end items-center my-2">
  <button mat-button (click)="getStudentsAttendance()">
    <span>Actualizar</span>
    <mat-icon matTooltip="Actualizar los datos de la tabla de asistencia"
      >refresh</mat-icon
    >
  </button>
</div>
<ng-template [ngIf]="attendances.length != 0 && !isLoading">
  <table mat-table [dataSource]="attendances">
    <ng-container matColumnDef="fullName">
      <th
        class="text-core-primary dark:text-core-primary-200 font-bold"
        mat-header-cell
        *matHeaderCellDef
      >
        NOMBRE COMPLETO
      </th>
      <td mat-cell *matCellDef="let element">{{ element[0] }}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th
        class="text-core-primary dark:text-core-primary-200 font-bold"
        mat-header-cell
        *matHeaderCellDef
      >
        ASISTENCIA
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="text-green-500 dark:text-green-400" *ngIf="element[1]"
          >check_circle</mat-icon
        >
        <mat-icon class="text-red-500 dark:text-red-400" *ngIf="!element[1]"
          >cancel</mat-icon
        >
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-template>

<ng-template [ngIf]="attendances.length == 0 && !isLoading">
  <p class="text-center">Aún no hay registros de asistencia</p>
</ng-template>

<shared-loader class="my-3" size="16px" *ngIf="isLoading"></shared-loader>
